<div class="col-md-12" id="cetak">
    <div class="card">
        <div class="card-body">
            <div class="col-md-12 border-bottom mb-3">
                <button class="btn btn-primary btn-sm mb-2" id="myButton" ng-click="tambah(item)"><i
                        class="mdi mdi-grease-pencil"></i> Tambah Keluarga</button>
                <button class="btn btn-info btn-sm mb-2" id="myButton" ng-click="cetakAll()"><i
                        class="mdi mdi-printer"></i> Cetak</button>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-sm"
                        style="width: 99%;">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Aksi</th>
                                <th>Nomor</th>
                                <th>Kepala Keluarga</th>
                                <th>Wilayah</th>
                                <th>Asal Kerukunan</th>
                                <th>Alamat</th>
                                <th>Telepon/Hp</th>
                                <th>Status Tinggal</th>
                            </tr>
                        </thead>
                        <tbody style="min-height: 300px;">
                            <tr ng-repeat="item in datas.keluarga">
                                <td>{{$index+1}}</td>
                                <td class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group dropend">
                                        <button class="btn btn-info btn-sm dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Menu
                                        </button>
                                        <ul class="dropdown-menu" style="background-color: #f2f2f2">
                                            <button class="btn btn-info btn-sm btn-rounded btn-icon"
                                                style="margin-right: 10px; margin-left: 5px;"
                                                ng-click="formTambah(item.id)"><i class="mdi mdi-library-plus"
                                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="Tambah Anggota Keluarga"></i></button>
                                            <button class="btn btn-warning btn-sm btn-rounded btn-icon"
                                                style="margin-right: 10px;" ng-click="edit(item.id)"><i
                                                    class="mdi mdi-grease-pencil" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" title="Ubah data"></i></button>
                                            <button class="btn btn-danger btn-sm btn-rounded btn-icon"
                                                style="margin-right: 10px;" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="Hapus data" ng-click="hapus(item)"><i
                                                    class="mdi mdi-delete"></i></button>
                                            <button class="btn btn-success btn-sm btn-rounded btn-icon"
                                                style="margin-right: 10px;" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="Lihat detail"
                                                ng-click="detailData(item)"><i class="mdi mdi-eye"></i></button>
                                            <button class="btn btn-primary btn-sm btn-rounded btn-icon"
                                                style="margin-right: 5px;" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="Lihat detail" ng-click="cetak(item)"><i
                                                    class="mdi mdi-printer"></i></button>
                                        </ul>
                                    </div>
                                </td>
                                <td>{{item.nomor}}</td>
                                <td>{{item.nama}}</td>
                                <td>{{item.wilayah}}</td>
                                <td>{{item.kerukunan}}</td>
                                <td>{{item.alamat}}</td>
                                <td>{{item.kontak}}</td>
                                <td>{{item.status_tinggal}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>