<div class="text-center">
    <h3 style="color: black;"><strong>Detail Data</strong></h3>
</div>
<div class="accordion mb-5" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <h4>Data Keluarga</h4>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="col-lg-12">
                    <div class="table-responsive  mb-2">
                        <table width="99%">
                            <tr style="height:35px">
                                <td width=" 30%">Nomor</td>
                                <td width="1%">:</td>
                                <td>{{model.nomor}}</td>
                            </tr>
                            <tr style="height:35px">
                                <td width="30%">Wilayah</td>
                                <td width="1%">:</td>
                                <td>{{model.wilayah}}</td>
                            </tr>
                            <tr style="height:35px">
                                <td width="30%">Kerukunan</td>
                                <td width="1%">:</td>
                                <td>{{model.kerukunan}}</td>
                            </tr>
                            <tr style="height:35px">
                                <td width="30%">Telepon/HP</td>
                                <td width="1%">:</td>
                                <td>{{model.kontak}}</td>
                            </tr>
                            <tr style="height:35px">
                                <td width="30%">Status Tinggal</td>
                                <td width="1%">:</td>
                                <td>{{model.status_tinggal}}</td>
                            </tr>
                            <tr style="height:35px">
                                <td width="30%">Alamat</td>
                                <td width="1%">:</td>
                                <td>{{model.alamat}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h4>Anggota Keluarga</h4>
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="table-responsive  mb-2">
                    <table class="table table-sm table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Jenis Identitas</th>
                                <th>NIK</th>
                                <th>Nama</th>
                                <th>Hubungan Keluarga</th>
                                <th>TTL</th>
                                <th>Jenis Kelamin</th>
                                <th>Golongan Darah</th>
                                <th>Agama</th>
                                <th>Pendidikan</th>
                                <th>Pekerjaan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in model.anggota">
                                <td>{{$index+1}}</td>
                                <td>{{item.jenis_identitas}}</td>
                                <td>{{item.nomor_identitas}}</td>
                                <td>{{item.nama}}</td>
                                <td>{{item.hubungan_keluarga}}</td>
                                <td>{{item.tempat_lahir}}, {{item.tanggal_lahir}} </td>
                                <td>{{item.gender}}</td>
                                <td>{{item.golongan_darah}}</td>
                                <td>{{item.agama}}</td>
                                <td>{{item.pendidikan_terakhir}}</td>
                                <td>{{item.pekerjaan}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12" class="btnbox-center">
    <a ui-sref="add.anggota" class="btn btn-info">
        <span class="mdi mdi-arrow-left-bold"></span> Back
    </a>
    <button type="button" ng-class="{'btn btn-right btn-primary': !model.id, 'btn btn-right btn-warning': model.id}"
        ng-click="save()">
        <span class="mdi mdi-content-save"></span> {{model.id?'Ubah':'Save'}}
    </button>
</div>