<style>
    .stickywrap {
        /* width: 100%; */
        margin: auto;
        text-align: center;
        float: none;
        overflow: hidden;
        display: scroll;
        position: fixed;
        top: 248px;
        /* left: 23px; */
        z-index: 9999;
    }

    .stickyzone {
        text-align: center;
        display: block;
        /* max-width: 970px; */
        height: auto;
        overflow: hidden;
        margin: auto
    }

    .stickyzone img {
        max-width: 100%;
        height: auto;
        vertical-align: middle
    }

    .stickyclose {
        cursor: pointer;
        text-align: center
    }
</style>
<!-- Modal -->
<div class="modal fade zoom-in" id="exampleModal1" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" style="border: none">
            <div id='stickyb' class='stickywrap'>
                <div><a id='close-stickyb' data-bs-dismiss="modal"><img alt='close'
                            src='https://3.bp.blogspot.com/-6LAwZExOdHM/Xh7fAY_R5rI/AAAAAAAACB0/gHeIT7IiNKs51DmS34eoBwalg9tiL42AgCNcBGAsYHQ/s1600/sevenclose.png'
                            title='Close this ad' class='stickyclose' /></a></div>
                <div class='stickyzone'> <a href='https://stimiksepnop.ac.id' target="_blank" title='Banner iklan disini'><img
                            alt='Banner iklan disini' src="{{$ctrl.image}}" /></a>
                </div>
            </div>
        </div>
    </div>
</div>